# Configuración de sesión
NODE_ENV=development
SESSION_SECRET=your-secret-key

# Base de datos MariaDB
DB_HOST=localhost
DB_USER=exptec_user
DB_PASS=exptec_password
DB_NAME=exp_tec

# Puerto de despliegue
PORT=3000