<h1>Bienvenido al Dashboard</h1>
<p>
  Dentro de muy pronto pordrá ver en esta pantalla información resumen de la
  aplicación. En estos momentos aún estamos desarrollando otros módulos,
  impresindibles para el correcto funcionamiento de la aplicación.
</p>
<p>Saludos grupo de desarrollo.</p>
<p>
  Puede encontrarnos siguiendo nuestros enlaces a
  <a href="https://tiaris-cu.github.io">Tiaris</a> by
  <a href="https://cz9dev.github.io">cz9dev</a>
</p>
