<div class="container mt-4">
  <h2>Gestión de Roles</h2>
  
  <table class="table table-bordered table-striped text-center mt-4">
    <thead>
      <tr>        
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% roles.forEach(role => { %>
        <tr>          
          <td><%= role.nombre %></td>
          <td><%= role.descripcion %></td>
          <td>
            <a href="/dashboard/roles/<%= role.id %>" class="btn btn-sm btn-info">Ver Permisos</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>