<div class="container mt-4 card border-secondary">
  <h2>Nuevo Equipo</h2>
  <form action="/dashboard/models" method="POST">
    <div class="mb-3">
      <label class="form-label">Marca</label>
      <select name="id_marca" class="form-control" required>
        <% marcas.forEach(marca => { %>
          <option value="<%= marca.id %>"><%= marca.marca %></option>
        <% }); %>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Modelo</label>
      <input type="text" name="modelo" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
    <a href="/dashboard/models" class="btn btn-secondary btn-sm">Cancelar</a>
  </form>
</div>
