<div class="container mt-4 card border-secondary">
    <h2>Editar Area</h2>
    <form action="/dashboard/areas/<%= area.id %>/update" method="POST">
        <div class="mb-3">            
            <label for="nombre" class="form-label">Area</label>                        
            <input type="text" id="nombre" name="nombre" class="form-control" value="<%= area.nombre %>" required>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
        <a href="/dashboard/areas" class="btn btn-secondary btn-sm">Cancelar</a>
    </form>
</div>