<div class="container mt-4 card border-secondary">
    <h2>Crear Marca</h2>

    <form action="/dashboard/brands" method="POST">
        <div class="mb-3">
            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" class="form-control" required>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
        <a href="/dashboard/brands" class="btn btn-secondary btn-sm">Cancelar</a>
    </form>
</div>